@charset "UTF-8";
.ls-10 {
    letter-spacing: .01em !important
}

.ls-0 {
    letter-spacing: 0 !important
}

.text-dark {
    color: #222529 !important
}

.text-body {
    color: #777 !important
}

.font1 {
    font-family: "Open Sans", sans-serif !important
}

.font2 {
    font-family: Poppins, sans-serif !important
}

.font3 {
    font-family: "Segoe Script", "Savoye LET" !important
}

.font4 {
    font-family: Oswald, sans-serif !important
}

.mt-1 {
    margin-top: 1rem !important
}

.mt-2 {
    margin-top: 2rem !important
}

.mt-3 {
    margin-top: 3rem !important
}

.mt-4 {
    margin-top: 4rem !important
}

.mt-5 {
    margin-top: 5rem !important
}

.mt-6 {
    margin-top: 6rem !important
}

.mt-7 {
    margin-top: 7rem !important
}

.mt-8 {
    margin-top: 8rem !important
}

.mt-9 {
    margin-top: 9rem !important
}

.mt-10 {
    margin-top: 10rem !important
}

.mb-1 {
    margin-bottom: 1rem !important
}

.mb-2 {
    margin-bottom: 2rem !important
}

.mb-3 {
    margin-bottom: 3rem !important
}

.mb-4 {
    margin-bottom: 4rem !important
}

.mb-5 {
    margin-bottom: 5rem !important
}

.mb-6 {
    margin-bottom: 6rem !important
}

.mb-7 {
    margin-bottom: 7rem !important
}

.mb-8 {
    margin-bottom: 8rem !important
}

.mb-9 {
    margin-bottom: 9rem !important
}

.mb-10 {
    margin-bottom: 10rem !important
}

@media (min-width: 576px) {
    .mt-sm-0 {
        margin-top: 0 !important
    }

    .mt-sm-1 {
        margin-top: 1rem !important
    }

    .mt-sm-2 {
        margin-top: 2rem !important
    }

    .mt-sm-3 {
        margin-top: 3rem !important
    }

    .mt-sm-4 {
        margin-top: 4rem !important
    }

    .mt-sm-5 {
        margin-top: 5rem !important
    }

    .mt-sm-6 {
        margin-top: 6rem !important
    }

    .mt-sm-7 {
        margin-top: 7rem !important
    }

    .mt-sm-8 {
        margin-top: 8rem !important
    }

    .mt-sm-9 {
        margin-top: 9rem !important
    }

    .mt-sm-10 {
        margin-top: 10rem !important
    }

    .mb-sm-0 {
        margin-bottom: 0 !important
    }

    .mb-sm-1 {
        margin-bottom: 1rem !important
    }

    .mb-sm-2 {
        margin-bottom: 2rem !important
    }

    .mb-sm-3 {
        margin-bottom: 3rem !important
    }

    .mb-sm-4 {
        margin-bottom: 4rem !important
    }

    .mb-sm-5 {
        margin-bottom: 5rem !important
    }

    .mb-sm-6 {
        margin-bottom: 6rem !important
    }

    .mb-sm-7 {
        margin-bottom: 7rem !important
    }

    .mb-sm-8 {
        margin-bottom: 8rem !important
    }

    .mb-sm-9 {
        margin-bottom: 9rem !important
    }

    .mb-sm-10 {
        margin-bottom: 10rem !important
    }
}

@media (min-width: 992px) {
    .mt-lg-0 {
        margin-top: 0 !important
    }

    .mt-lg-1 {
        margin-top: 1rem !important
    }

    .mt-lg-2 {
        margin-top: 2rem !important
    }

    .mt-lg-3 {
        margin-top: 3rem !important
    }

    .mt-lg-4 {
        margin-top: 4rem !important
    }

    .mt-lg-5 {
        margin-top: 5rem !important
    }

    .mt-lg-6 {
        margin-top: 6rem !important
    }

    .mt-lg-7 {
        margin-top: 7rem !important
    }

    .mt-lg-8 {
        margin-top: 8rem !important
    }

    .mt-lg-9 {
        margin-top: 9rem !important
    }

    .mt-lg-10 {
        margin-top: 10rem !important
    }

    .mb-lg-0 {
        margin-bottom: 0 !important
    }

    .mb-lg-1 {
        margin-bottom: 1rem !important
    }

    .mb-lg-2 {
        margin-bottom: 2rem !important
    }

    .mb-lg-3 {
        margin-bottom: 3rem !important
    }

    .mb-lg-4 {
        margin-bottom: 4rem !important
    }

    .mb-lg-5 {
        margin-bottom: 5rem !important
    }

    .mb-lg-6 {
        margin-bottom: 6rem !important
    }

    .mb-lg-7 {
        margin-bottom: 7rem !important
    }

    .mb-lg-8 {
        margin-bottom: 8rem !important
    }

    .mb-lg-9 {
        margin-bottom: 9rem !important
    }

    .mb-lg-10 {
        margin-bottom: 10rem !important
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

/*! nouislider - 11.1.0 - 2018-04-02 11:18:13 */
@keyframes maskUp {
    0% {
        transform: translate(0, 100%)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes maskRight {
    0% {
        transform: translate(-100%, 0)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes maskDown {
    0% {
        transform: translate(0, -100%)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes maskLeft {
    0% {
        transform: translate(100%, 0)
    }
    to {
        transform: translate(0, 0)
    }
}

@keyframes fadeInUpShorter {
    0% {
        opacity: 0;
        transform: translate(0, 50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translate(0, 2000px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInLeftShorter {
    0% {
        opacity: 0;
        transform: translate(50px, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translate(2000px, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRightShorter {
    0% {
        opacity: 0;
        transform: translate(-50px, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        transform: translate(-2000px, 0)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInDownShorter {
    0% {
        opacity: 0;
        transform: translate(0, -50px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translate(0, -2000px)
    }
    to {
        opacity: 1;
        transform: none
    }
}

@keyframes flash {
    0%, 50%, to {
        opacity: 1
    }
    25%, 75% {
        opacity: 0
    }
}

@keyframes shake {
    0%, to {
        transform: translateX(0);
        opacity: 1
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px)
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px)
    }
}

@keyframes tada {
    0% {
        transform: scale(1)
    }
    10%, 20% {
        transform: scale(.9) rotate(-3deg)
    }
    30%, 50%, 70%, 90% {
        transform: scale(1.1) rotate(3deg)
    }
    40%, 60%, 80% {
        transform: scale(1.1) rotate(-3deg)
    }
    to {
        transform: scale(1) rotate(0);
        opacity: 1
    }
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes swing {
    0% {
        transform: rotate(0)
    }
    20% {
        transform: rotate(15deg)
    }
    40% {
        transform: rotate(-10deg)
    }
    60% {
        transform: rotate(5deg)
    }
    80% {
        transform: rotate(-5deg)
    }
    to {
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0)
    }
    15% {
        transform: translateX(-25%) rotate(-5deg)
    }
    30% {
        transform: translateX(20%) rotate(3deg)
    }
    45% {
        transform: translateX(-15%) rotate(-3deg)
    }
    60% {
        transform: translateX(10%) rotate(2deg)
    }
    75% {
        transform: translateX(-5%) rotate(-1deg)
    }
    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes blurIn {
    0% {
        opacity: 0;
        filter: blur(20px);
        transform: scale(1.3)
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: none
    }
}

@keyframes dotPulse {
    0% {
        opacity: 1;
        transform: scale(.2)
    }
    to {
        opacity: 0;
        transform: scale(1)
    }
}

@keyframes slideInUp {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInDown {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes slideInRight {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible
    }
    to {
        transform: translateZ(0)
    }
}

@keyframes flipInX {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotateX(90deg)
    }
    to {
        transform: perspective(400px)
    }
}

@keyframes flipInY {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: perspective(400px) rotateY(-90deg)
    }
    to {
        transform: perspective(400px)
    }
}

@keyframes brightIn {
    0% {
        animation-timing-function: ease-in;
        filter: brightness(0)
    }
    to {
        filter: brightness(100%)
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, to {
        transform: translateY(0);
        opacity: 1
    }
    40% {
        transform: translateY(-30px)
    }
    60% {
        transform: translateY(-15px)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3)
    }
    50% {
        opacity: 1;
        transform: scale(1.05)
    }
    70% {
        transform: scale(.9)
    }
    to {
        transform: scale(1)
    }
}

@keyframes bounceInUp {
    0% {
        opacity: 0;
        transform: translateY(2000px)
    }
    60% {
        transform: translateY(-30px)
    }
    80% {
        transform: translateY(10px)
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px)
    }
    60% {
        transform: translateY(30px)
    }
    80% {
        transform: translateY(-10px)
    }
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px)
    }
    60% {
        transform: translateX(30px)
    }
    80% {
        transform: translateX(-10px)
    }
    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px)
    }
    60% {
        transform: translateX(-30px)
    }
    80% {
        transform: translateX(10px)
    }
    to {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes rotateIn {
    0% {
        transform-origin: center center;
        transform: rotate(-200deg);
        opacity: 0
    }
    to {
        transform: rotate(0);
        opacity: 1
    }
}

@keyframes rotateInUpLeft {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: left bottom
    }
    to {
        opacity: 1;
        transform: rotate(0)
    }
}

@keyframes rotateInDownLeft {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: left bottom
    }
    to {
        opacity: 1;
        transform: rotate(0)
    }
}

@keyframes rotateInUpRight {
    0% {
        opacity: 0;
        transform: rotate(-90deg);
        transform-origin: right bottom
    }
    to {
        opacity: 1;
        transform: rotate(0)
    }
}

@keyframes rotateInDownRight {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform-origin: right bottom
    }
    to {
        opacity: 1;
        transform: rotate(0)
    }
}

@keyframes customSVGLineAnimTwo {
    0% {
        stroke-dasharray: 820;
        stroke-dashoffset: 500
    }
    to {
        stroke-dasharray: 1120;
        stroke-dashoffset: 500
    }
}

.btn {
    transition: all .3s;
    text-transform: uppercase;
    padding: 1em 1.6em;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 700;
    font-family: Poppins, sans-serif;
    line-height: 1.429
}

.btn:focus {
    box-shadow: none
}

.btn-sm {
    padding: .5em 1em;
    font-size: 1.1rem
}

.btn-lg {
    padding: 1em 2.15em;
    font-size: 1.4rem
}

.btn-dark {
    border-color: #222529;
    background-color: #222529;
    color: #fff;
    box-shadow: none
}

.btn-dark:focus, .btn-dark:hover {
    border-color: #34393f;
    background-color: #34393f;
    color: #fff;
    box-shadow: none
}

.btn-dark:disabled {
    border-color: #222529;
    background-color: #222529;
    color: #fff
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active {
    border-color: #050606;
    background-color: #0b0c0d;
    color: #fff
}

a:focus {
    outline: 0
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

@font-face {
    font-family: porto;
    src: url(../fonts/porto6e1d.eot?64334846);
    src: url(../fonts/porto6e1d.eot?64334846#iefix) format("embedded-opentype"), url(../fonts/porto6e1d.woff2?64334846) format("woff2"), url(../fonts/porto6e1d.woff?64334846) format("woff"), url(../fonts/porto6e1d.ttf?64334846) format("truetype"), url(../fonts/porto6e1d.svg?64334846#porto) format("svg");
    font-style: normal;
    font-weight: 400;
    font-display: swap
}

[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: porto;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-phone:before {
    content: ""
}

.icon-mail:before {
    content: ""
}

.icon-mail-alt:before {
    content: ""
}

.icon-mobile:before {
    content: ""
}

.icon-info:before {
    content: ""
}

.icon-home:before {
    content: ""
}

.icon-phone-1:before {
    content: ""
}

.icon-phone-2:before {
    content: ""
}

form {
    margin-bottom: 3.5rem
}

form h2 {
    margin-top: 3.4rem;
    margin-bottom: 2.3rem
}

.form-group {
    margin-bottom: 1.4rem
}

.form-group .form-control {
    margin-bottom: 0
}

.form-group .form-control + .form-control {
    margin-top: 1rem
}

.form-group-sm {
    max-width: 480px;
    margin-bottom: .9rem
}

.form-control {
    padding-left: 1.2rem;
    height: 46px;
    margin-bottom: 1rem;
    transition: all .3s;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    background-color: #fff;
    color: #777;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5
}

.form-control:focus {
    border-color: #dfdfdf;
    background-color: #fff;
    color: #777;
    box-shadow: none
}

.form-control-sm {
    height: 4.6rem;
    padding: .8rem 1.2rem
}

.form-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
    font-size: 1.2rem;
    vertical-align: middle
}

.form-footer .btn {
    margin-right: 3rem
}

label {
    margin: 0 0 .6rem;
    color: #222529;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    font-weight: 700
}

.required {
    color: #e02b27
}

.required + .form-footer {
    margin-top: .8rem
}

.form-input {
    padding: 1rem 1.2rem;
    border: 1px solid #ddd;
    border-radius: 2px
}

@media (min-width: 768px) {
    .form-footer, form {
        margin-bottom: 4rem
    }

    form h2 {
        margin-top: 4.4rem
    }
}

@media (min-width: 992px) {
    .form-footer, form {
        margin-bottom: 5rem
    }
}

.info-box {
    display: flex;
    align-items: center;
    width: 100%;
    color: #222529
}

.info-box i {
    color: inherit;
    font-size: 3.7rem;
    text-align: center
}

.info-box i:before {
    width: auto;
    margin: 0 .1em
}

.info-box h4 {
    color: inherit;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1
}

.info-box p {
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 1.6
}

.info-box .porto-info {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: #2f6473
}

@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0
    }
    50% {
        background-position: 500px 500px, 100px 300px, -200px 250px
    }
    to {
        background-position: 400px 800px, 300px 600px, -200px 400px
    }
}

@keyframes sparkle {
    0% {
        background-position: 0 0, 0 0, 0 0
    }
    to {
        background-position: -500px -1000px, -400px -400px, 300px 300px
    }
}

@keyframes kenBurnsToRight {
    0% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

@keyframes kenBurnsToLeft {
    0% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

.page-header {
    padding: 5.5rem 0;
    color: #222529;
    background-color: #f4f4f4;
    text-align: center
}

.page-header h1 {
    margin-bottom: .4rem;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: -.05em;
    color: #222529
}

.page-item:not(:first-child) {
    margin-left: .5rem
}

@media (min-width: 1199px) {
    .col-5col-1 {
        flex: 0 0 20%;
        max-width: 20%
    }
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    font-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    color: #777;
    background: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden
}

body:not(.loaded) > :not(.loading-overlay) {
    visibility: hidden !important;
    transition: none !important
}

body:not(.loaded) > :not(.loading-overlay) * {
    visibility: hidden !important;
    transition: none !important
}

::-moz-selection {
    background-color: #08c;
    color: #fff
}

::selection {
    background-color: #08c;
    color: #fff
}

p {
    margin-bottom: 1.5rem
}

i {
    font-style: italic
}

button:focus {
    outline: 0
}

@keyframes rotating {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

@keyframes bouncedelay {
    0%, 80%, to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes bouncedelay {
    0%, 80%, to {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        transform: scale(1)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

@media (max-width: 767px) {
    html {
        font-size: 9px
    }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.8rem;
    color: #222529;
    font-weight: 700;
    line-height: 1.1;
    font-family: Poppins, sans-serif
}

.h1, h1 {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.223
}

.h2, h2 {
    font-size: 3rem;
    line-height: 1.5
}

.h3, h3 {
    font-size: 2.5rem;
    line-height: 1.28
}

.h4, h4 {
    font-size: 2rem;
    line-height: 1.35
}

.h5, h5 {
    font-size: 1.4rem;
    line-height: 1.429
}

.h6, h6 {
    font-size: 1.3rem;
    line-height: 1.385;
    font-weight: 600
}

a {
    transition: all .3s;
    color: #08c;
    text-decoration: none
}

a:focus, a:hover {
    color: #08c;
    text-decoration: none
}

@media (min-width: 768px) {
    .h1, h1 {
        font-size: 4.5rem
    }

    .h2, h2 {
        font-size: 2.5rem
    }
}

@media (min-width: 992px) {
    .h1, h1 {
        font-size: 5rem
    }

    .h2, h2 {
        font-size: 3rem
    }
}

.row {
    margin-left: -10px;
    margin-right: -10px
}

[class*=col-] {
    padding-left: 10px;
    padding-right: 10px
}

.row-sm {
    margin-left: -6px;
    margin-right: -6px
}

.row-sm > [class*=col-] {
    padding-left: 6px;
    padding-right: 6px
}

.container :not(.sticky-header) > .container {
    padding-left: 0;
    padding-right: 0
}

@media (min-width: 1220px) {
    .container {
        max-width: 1200px
    }
}

@media (min-width: 992px) {
    .container {
        padding-left: 10px;
        padding-right: 10px
    }

    .row-lg {
        margin-left: -15px;
        margin-right: -15px
    }

    .row-lg [class*=col-] {
        padding-left: 15px;
        padding-right: 15px
    }
}

@media (max-width: 991px) {
    .container {
        max-width: none
    }
}

header {
    position: relative
}

header .container {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -ms-flex-pack: justify;
    position: relative
}

header p {
    margin-bottom: 0
}

header a {
    color: inherit
}

.header-center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.header-center {
    margin-left: auto
}

.header-contact {
    align-items: center;
    text-transform: uppercase
}

.header-contact i {
    margin-right: 1.1rem;
    font-size: 2.9rem
}

.header-contact h6 {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    color: #777
}

.header-contact a {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap
}

.header-icon:not(:last-child) {
    margin-right: 2.2rem
}

.header-icon i {
    font-size: 2.7rem
}

.header-icon:hover {
    color: #222529
}

@media (max-width: 575px) {
    .header-icon:not(:last-child) {
        margin-right: 1.2rem
    }
}

.mobile-nav {
    margin: 0 0 2rem;
    padding: 0
}

footer {
    font-size: 1.3rem;
    line-height: 24px
}

footer .container {
    position: relative
}

footer p {
    color: inherit
}

footer a {
    color: inherit
}

footer .contact-info {
    margin: 0;
    padding: 0
}

footer .contact-info li {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.4
}

footer .contact-info-label {
    display: block;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1px
}

@media (max-width: 575px) {
    footer {
        margin-bottom: 68px
    }
}

.header {
    border-bottom: 1px solid #f4f4f4
}

.footer {
    letter-spacing: .005em
}

.footer .contact-info {
    margin-bottom: 3rem
}

.footer .contact-info li {
    position: relative;
    margin-bottom: 1rem;
    line-height: 1.4
}

.footer .contact-info li:last-child {
    margin-bottom: .4rem
}

.footer .contact-info-label {
    display: block;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase
}

.btn-lg {
    padding: 1.07em 2.76em
}

@media (max-width: 575px) {
    .header-icon {
        padding: 0
    }
}

@media (max-width: 479px) {
    .header-icon:not(:last-child) {
        margin-right: 1.5rem;
        margin-bottom: 3px
    }
}

span.toggle {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -3px;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 23px;
    font-family: Porto;
    font-weight: 900;
    color: #222529
}

span.toggle:before {
    content: ""
}

@keyframes navItemArrow {
    0% {
        position: relative;
        right: -1px
    }
    50% {
        position: relative;
        right: 3px
    }
    to {
        position: relative;
        right: -1px
    }
}

.contact-us-container {
    padding-bottom: 6px
}

.contact-us-container h2 {
    font-size: 2.4rem;
    letter-spacing: -.0425em
}

.contact-us-container p {
    letter-spacing: -.025em;
    line-height: 2
}

.contact-us-container label {
    color: #777;
    font-size: 1.4rem;
    font-weight: 500
}

.contact-us-container input {
    border-color: #ebebeb
}

.contact-us-container .form-group {
    margin-bottom: 1.8rem
}

.contact-us-container .form-footer {
    margin-top: -2px
}

.contact-us-container .contact-info {
    border-bottom: 1px solid #eee
}

.contact-us-container .required {
    color: #ff7272
}

.contact-info {
    padding-top: .5rem
}

.contact-info > div {
    margin-bottom: 2.9rem
}

.contact-info .col-12 {
    margin-bottom: 4.7rem
}

.address h3 {
    font-size: 1.8rem
}

.address label {
    margin-bottom: 1.1rem
}

.address .form-control {
    height: 37px
}

.address h4 {
    font-size: 1.7rem;
    letter-spacing: -.016em
}

.address .address-action {
    padding: .8rem 2.3rem .7rem;
    background: #f4f4f4;
    color: #222524;
    font-family: "Open Sans", sans-serif
}

.address .address-action:hover {
    background-color: #08c;
    color: #fff
}

.address .form-control {
    line-height: 1.5
}

.address-box {
    display: inline-block;
    position: relative;
    margin-bottom: 2.9rem;
    width: 100%;
    transition: .3s border-color;
    font-size: 1.4rem;
    line-height: 3rem;
    vertical-align: top;
    word-wrap: break-word
}

h1 {
    font-weight: 700;
    font-size: 3.6rem
}

p {
    font-family: Poppins, sans-serif
}

.button-type {
    border-right: 1px solid rgba(0, 0, 0, .06)
}

.button-type h4 {
    margin-bottom: 1rem
}

.button-type p {
    line-height: 2.4rem;
    margin-bottom: 0;
    padding-right: 1rem
}

@media (max-width: 1199px) {
    .info-box {
        margin-bottom: 2rem
    }
}

@keyframes customLineAnim {
    0% {
        stroke-dasharray: 1600;
        stroke-dashoffset: 1600
    }
    to {
        stroke-dasharray: 2500;
        stroke-dashoffset: 1600
    }
}